<%= link_to "Create New Company", new_company_path %>
	<%if @companies.present? %>
	  <p>Below is the list of companies</p>
	  <table width="100%">
	    <tr>
	      <td>ID</td>
	      <td>name</td>
	      <td>cnpj</td>
	      <td>address</td>
          <td>description</td>
	      <td>Action</td>
	    </tr>
	    <%@companies.each do |u|%>
	    <tr>
	      <td><%=u[:id]%></td>
	      <td><%=u[:name]%></td>
	      <td><%=u[:cnpj]%></td>
	      <td><%=u[:address]%></td>
          <td><%=u[:description]%></td>
	      <td>
	        <%= link_to "Edit", edit_company_path(u[:id]) %> | 
	        <%= link_to "Delete", company_path(u[:id]), :method => :delete %>
	      </td>
	    </tr>
	   <%end%>
	  </table>
	<%else%>
	  <p>No Company is Found</p>
	<%end%>